body {
  font-family: Arial, sans-serif;
  background-color: #add8e6;
  min-height: 100vh;
}

/* ヘッダー */
.header {
  background: #add8e6;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.title {
  font-size: 22px;
  font-weight: bold;
}



/* =========================
   ヘッダー（共通）
========================= */
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #e6ecf0;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}


.container {
  width: 90%;
  margin: 30px auto;
  padding: 25px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

/* フォーム */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.field label {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.field input[type="text"],
.field input[type="file"],
.filed select {
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* 現在のアイコン */
.current-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.avatar-preview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* ボタン */
.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.btn {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  background-color: #ff69b4;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn.secondary {
  background: transparent;
  color: #ff69b4;
  border: 1px solid #ff69b4;
}
